@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}




.card-body {
    color: white;
}

.navbar-brand {
    color: black;
}

.nav-item a {
    color: black;
}

.card {
    text-align: white;
    background-color: black;
    transition: all 1s;
}

.card:hover {
    transform: scale(1.1) translateY(-40px);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  }

.col-md-3 {
    margin-top: 15px;
}

.btn-dark {
    background-color: salmon;
    color: white;
 } 

footer {
    background-color: salmon;
}

.navbar {
    background-color: salmon;
}

.d-flex {
    margin-top: 10px;
}

.whatsapp {
    position: fixed;
    bottom: 30px;
    right: 10px;
}

.bi {
    color: black;
    border-radius: 0%;
}

.bi:hover {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,0.19); 
   transition: box-shadow 0.4s ease-in-out;
   cursor: pointer;
}

.btn-dark:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,0.19); 
    transition: box-shadow 0.4s ease-in-out;
    cursor: pointer;
 }

.copy {
    color: black;
    text-align: center;
}

    
