footer {
    background-color: salmon;

  
    .justify-content-evenly {
        border-radius: 0%;
        font-size: 40px;
        margin: 18px;
        align-self: center;
    }

    

    .a,i:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,0.19); 
        transition: box-shadow 0.4s ease-in-out;
        cursor: pointer;
     }
     
     .copy {
        color: black;
        text-align: center;
    }
     
}

.whatsapp {
    position: fixed;
    bottom: 30px;
    right: 10px;
}

$redes: (
    facebook:rgb(25, 0, 255),
    instagram: rgb(255, 7, 255),
    tiktok:black
);


 @each $redsocial, $color in $redes {
   .fa-#{$redsocial} {
        color: $color;
    }
 }

.fa-facebook, .fa-instagram, .fa-tiktok {
    @extend %iconitos
}

