header {
    background-color: salmon;
    color: black;
    
  
    .navbar-brand {
        
        color: black;
        

        .nav-item a {
            color: black;

        }

        .d-flex {
            margin-top: 10px;
        }
    }
  }
    