.col-md-3 {
     margin-top: 15px;

     .card {
         text-align: white;
        background-color: black;
        transition: all 1s;
       
          .card-body {
             color: white;

            .btn-dark {
              background-color: salmon;
              color: white;
           } 
      

        }

     }
    
 }

 .card:hover {
    transform: scale(1.1) translateY(-40px);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
   }













