$font-family-sans-serif: 'Quicksand', sans-serif;


$maincolor:salmon;
$secondary: pink;



@import "../node_modules/bootstrap/scss/bootstrap";

@import "../sass/header";

@import "../sass/main";

@import "../sass/footer"

